*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  
}
.main{
  
}
.page_1{
  width: 100%;
  height: 100vh;
  background: #FFFF99;
  position: relative;
  overflow: hidden;
}
.nav{
  width: 100%;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
}
.nav .left{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5003vw;
}

.nav .left ._x {
  font-size: 2vw;
  font-weight: 1000;
  transition-duration: 0.5s;
}

.nav .left:hover ._1 {
  transform: rotate(20deg) skew(20deg);
  
}

.nav .left:hover ._2 {
  transform: rotate(-20deg) skew(-20deg);

}
.nav .left:hover ._3 {
  transform: rotate(20deg) skew(20deg);

}



.nav .right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.box{
  background: #CAA0A0;
  height: 60vw;
  display: flex;
  justify-content: center;
  padding: 4vw 3vw;
  position: absolute;
}
.box h2{
  font-size: 15vw;

}

.box_1{
animation: identifier 1s;
}

.box_2{
animation: identifier 1s;
}

.box_3{
animation: identifier 1s ;
}






@keyframes identifier {
  from {  
    bottom: -70vw;
  }
}